;; shadow-cljs configuration
{:source-paths
 ["src/"
  "src/test"]

 :dependencies
 [[cider/cider-nrepl "RELEASE"]
  [binaryage/devtools  "1.0.4"]
  [reagent "1.1.0"]]

 :dev-http {8080 "public"}

 :builds
 {:pwa
  {:target :browser
   :modules
   {:shared {:entries []}
    :main {:init-fn rc.notoy.app/init
           :depends-on #{:shared}}
    :worker {:init-fn rc.notoy.worker/init
             :depends-on #{:shared}
             :web-worker true}}}}}
